workflows/n8n_workflow.json
{
  "name": "n8n_workflow",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        180,
        120
      ],
      "id": "cb736ad0-2616-43b8-917b-543b07078ae6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OgL4uC6zTGh1EZ2y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to get the latest top headlines from Hacker News. Use it when the user asks for current news, tech news, or trending headlines.",
        "url": "http://backend:7013/headlines"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        440,
        160
      ],
      "id": "6e9b1691-4e64-4d6b-8689-e6ee8b10b66c",
      "name": "News"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search for books available in the online store. You can search by book title or book category. Provide the title or category you want to search for.",
        "url": "http://backend:7013/books/search",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "title",
              "valueProvider": "modelOptional"
            },
            {
              "name": "category",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "title",
              "description": "The title (or part of the title) of the book to search for",
              "type": "string"
            },
            {
              "name": "category",
              "description": "The category of the books to search for (e.g., Science, Fiction, Mystery).",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        600,
        60
      ],
      "id": "f98f92a5-2d67-43cf-816c-a2fb4fd7b1f8",
      "name": "Book"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -100
      ],
      "id": "b1c418e8-3f9d-46a9-94b7-76d4c66114dc",
      "name": "Webhook1",
      "webhookId": "3c3aaebf-087c-467c-9e5e-d40c840b5d98"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=Analiza la consulta del usuario y determina si está buscando información sobre libros, titulares de noticias, o ambos. Utiliza las herramientas apropiadas para responder a la consulta.\n\nDevuelve las respuestas en formato Markdown siguiendo esta estructura:\n- Usa encabezados (##) para separar secciones.\n- Usa listas numeradas o con guiones para los libros y noticias.\n- Agrega enlaces cuando estén disponibles.\n- Resalta títulos en cursiva y negrita donde sea útil.\n- Al final, deja un mensaje sugerente para nuevas consultas.\n\nEjemplo:\n\n## Libros...\n1. **Título:** *Nombre*  \n   **Autor:** Nombre  \n   ...\n\n## Noticias...\n- **[Título](URL)**  \n  Resumen...\n\n> 🔍 ¿Quieres buscar otra cosa?\n\nTe voy a dar un ejemplo mas completo:\n## 🧠 Libros Disponibles en la Categoría **Ciencia**\n\n1. **Título:** *El Universo en una Cáscara de Nuez*  \n   **Autor:** Stephen Hawking  \n   **Descripción:** Una introducción visual y profunda a los misterios del universo.  \n   **Precio:** $19.99  \n   **Disponible:** ✅ Sí\n\n2. **Título:** *Breves respuestas a las grandes preguntas*  \n   **Autor:** Stephen Hawking  \n   **Descripción:** Reflexiones del autor sobre el futuro de la humanidad, Dios y la inteligencia artificial.  \n   **Precio:** $15.50  \n   **Disponible:** ✅ Sí\n\n---\n\n## 📰 Titulares de Noticias Tecnológicas (Hacker News)\n\n- **[OpenAI lanza GPT-5 en versión beta](https://news.ycombinator.com/item?id=12345678)**  \n  La nueva versión promete mejoras significativas en velocidad y comprensión contextual.\n\n- **[Apple presenta su nueva MacBook con chips M4](https://news.ycombinator.com/item?id=87654321)**  \n  Nueva arquitectura con mayor eficiencia energética y rendimiento.\n\n- **[GitHub Copilot ya disponible para empresas sin conexión a internet](https://news.ycombinator.com/item?id=22334455)**  \n  Ahora se puede usar localmente con funciones avanzadas de privacidad.\n\n---\n\n> 🔍 ¿Quieres buscar otra categoría de libros o ver más noticias? ¡Solo dímelo!\n"
        }
      },
      "id": "3d8f0c8f-5913-4094-b387-667b22d33a5a",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        -100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7c4cb9f-2a9a-401d-991d-db4c9a601e6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c7e754bd1c3657527dd7cd5b6bda19b5ce128a59b28db8f638facb7ce619f4d"
  },
  "id": "dP0qL0Tsdv6b9VwB",
  "tags": []
}